<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured!</h1>
    <p>Please try again later, sorry for the inconvenience</p>

<%- include('includes/end.ejs') %>